jareel-csharp/.vs/
jareel-csharp/jareel-csharp/obj/
jareel-csharp/jareel-csharp/jareel-csharp.csproj
Jareel/Jareel/obj/
Jareel/Jareel/bin/
Jareel/ConsoleApplication1/ConsoleApplication1.csproj
Jareel/ConsoleApplication1/bin/
Jareel/ConsoleApplication1/obj/
